<app-jumbo
 title="Tipi di offerte" 
 text ="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex "
 text2="Sed do eiusmod tempor aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ">
>

</app-jumbo>
<div class="cards-container">
    <div class="row">
        <div class="col-sm">
        <app-card
            srcA="https://images.fineartamerica.com/images-medium-large-5/dark-rose-sq-rick-monyahan.jpg"
            title = "Offerta 1"
            text = " Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor "
            ></app-card>
        </div>
        <div class="col-sm">
            <app-card
            srcA="https://images.fineartamerica.com/images-medium-large-5/dark-rose-sq-rick-monyahan.jpg"
            title = "Offerta 2"
            text = " Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor "
            
            ></app-card>
        </div>
        <div class="col-sm">
                <app-card
                srcA="https://images.fineartamerica.com/images-medium-large-5/dark-rose-sq-rick-monyahan.jpg"
                title = "Offerta 3"
                text = " Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor "
                
                ></app-card>
        </div>
    </div>
</div>
<div class="cards-container">
        <div class="row">
            <div class="col-sm">
            <app-card
                srcA="https://images.fineartamerica.com/images-medium-large-5/dark-rose-sq-rick-monyahan.jpg"
                title = "Offerta 4"
                text = " Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor "
                ></app-card>
            </div>
            <div class="col-sm">
                <app-card
                srcA="https://images.fineartamerica.com/images-medium-large-5/dark-rose-sq-rick-monyahan.jpg"
                title = "Offerta 5"
                text = " Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor "
                
                ></app-card>
            </div>
            <div class="col-sm">
                    <app-card
                    srcA="https://images.fineartamerica.com/images-medium-large-5/dark-rose-sq-rick-monyahan.jpg"
                    title = "Offerta 6"
                    text = " Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor "
                    
                    ></app-card>
            </div>
        </div>
    </div>