<app-jumbo
 title="Tipi di offerte" 
 text ="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex "
 text2="Sed do eiusmod tempor aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ">
>

</app-jumbo>
<div class="cards-container">
    <div class="row">
        <div class="col-sm">
        <app-card></app-card>
        </div>
        <div class="col-sm">
            <app-card></app-card>
        </div>
        <div class="col-sm">
            <app-card></app-card>
        </div>
    </div>
</div>