<!-- Card -->
<mdb-card>
        <div class="view rgba-white-slight waves-light" mdbWavesEffect>
          <!-- Card img -->
          <mdb-card-img src="{{srcA}}" alt="Card image cap"></mdb-card-img>
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <!--Card content-->
        <mdb-card-body>
          <!--Title-->
          <mdb-card-title>
            <h4>{{title}}</h4>
          </mdb-card-title>
      
          <!--Text-->
          <mdb-card-text>{{text}}
          </mdb-card-text>
      
          <a href="camere" mdbBtn color="primary" mdbWavesEffect>PIU</a>
        </mdb-card-body>
      </mdb-card>
      <!-- Card -->