<app-jumbo
    title ="Camere"
    text = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod"
></app-jumbo>
<div class="cards-container">
    <div class="row">
        <div class="col-sm">
            <app-card 
                srcA = "../../assets/c1.jpeg"
                title = "Camere 1"
                text = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid"
                >
            </app-card>
        </div>
        <div class="col-sm">
            <app-card 
                srcA = "../../assets/c2.jpg"
                title = "Camere 2"
                text = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid"
                >
            </app-card>
        </div>
        <div class="col-sm">
            <app-card 
                srcA = "../../assets/c3.jpg"
                title = "Camere 3"
                text = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid"
                >
            </app-card>
         </div>
    </div>
</div>