<app-background></app-background>

    <app-img-text-c></app-img-text-c>
    <app-img-text-r srcA="https://images.fineartamerica.com/images-medium-large-5/dark-rose-sq-rick-monyahan.jpg"></app-img-text-r>
    <app-img-text-l srcA="https://images.fineartamerica.com/images-medium-large-5/dark-rose-sq-rick-monyahan.jpg"></app-img-text-l>
        
    <div class="cards-container">
        <div class="row">
            <div class="col-sm">
            <app-card
                srcA="https://images.fineartamerica.com/images-medium-large-5/dark-rose-sq-rick-monyahan.jpg"
                title = "Offerta 4"
                text = " Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor "
                ></app-card>
            </div>
            <div class="col-sm">
                <app-card
                srcA="https://images.fineartamerica.com/images-medium-large-5/dark-rose-sq-rick-monyahan.jpg"
                title = "Offerta 5"
                text = " Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor "
                
                ></app-card>
            </div>
            <div class="col-sm">
                    <app-card
                    srcA="https://images.fineartamerica.com/images-medium-large-5/dark-rose-sq-rick-monyahan.jpg"
                    title = "Offerta 6"
                    text = " Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor "
                    
                    ></app-card>
            </div>
        </div>
    </div>
