

<footer class="page-footer font-small cyan special-color-dark pt-4 videoSCSS fixed-bottom">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">
    
          <!-- Grid row -->
          <div class="row">
    
            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">
                 <!-- Links -->
                 <h5 class="text-uppercase">Contact</h5>
    
                 <ul class="list-unstyled">
                   <li>
                         <p><mdb-icon fas icon="phone "></mdb-icon> &nbsp;&nbsp;&nbsp;333 333 3333</p>
                   </li>
                   <li>
                         <p><mdb-icon far icon="envelope-open"></mdb-icon>&nbsp;&nbsp;&nbsp; eeee@eeee.ee</p>
                   </li>
                   <li>
                         <p><mdb-icon fas icon="map-marker-alt fa-lg"></mdb-icon>&nbsp;&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing </p>
                
                   </li>
                   
                 </ul>
            
    
            </div>
            <!-- Grid column -->
    
            <hr class="clearfix w-100 d-md-none pb-3">
    
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
    
                 <!-- Content -->
             
              </div>
              <!-- Grid column -->
    
              <!-- Grid column -->
              <div class="col-md-3 mb-md-0 mb-3">
                    <h5 class="text-uppercase">About us</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                      labore et dolore magna aliqua. Ut enim ad </p>
          
                <!-- Links -->
                <h5 class="text-uppercase">Follow us</h5>
                
                <ul class="list-unstyled social">
                    <li>
                       <a href=""><mdb-icon fab icon="facebook-f fa-lg"></mdb-icon></a>
                       <a href=""><mdb-icon fab icon="youtube fa-lg"></mdb-icon></a>
                       <a href=""> <mdb-icon fab icon="linkedin-in fa-lg"></mdb-icon></a>
                       
                      
                    
                        <a href=""><mdb-icon fab icon="instagram fa-lg"></mdb-icon></a>
                        <a href=""><mdb-icon fab icon="pinterest-p fa-lg"></mdb-icon></a>
                        <a href=""><mdb-icon fab icon="twitter fa-lg"></mdb-icon></a>
                        
                        
                        
                  </li>
                </ul>
    
              </div>
              <!-- Grid column -->
    
          </div>
          <!-- Grid row -->
    
        </div>
        <!-- Footer Links -->
    
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
          <a href="https://mdbootstrap.com/education/angular/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
    
      </footer>
      <!-- Footer -->